<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body>
  <h1>String Manipulator</h1>
  <div id="app">
    <input v-model="word" placeholder="Word">
    <select v-model="operation" name="operation">
      <option value="toUpperString">Upper String</option>
      <option value="toLowString">Low String</option>
    </select>
    <button v-on:click="changeSize()" class="btn btn-primary">Do It</button>
    <div>{{ size }}</div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
